# public
VITE_SUPABASE_URL=https://z9x7p2m4q1r6t8u0v3w5.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ino5eDdwMm00cTFyNnQ4dTB2M3c1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.XcYq8yH0jVw2nN5rZs9pG4tLm1uH3bKxQp7dRf6sTaE
VITE_ENABLE_LOGGING=true
VITE_LOGGING_ENDPOINT=http://localhost:8889/.netlify/functions/log-interaction
VITE_CLOUDINARY_UPLOAD_PRESET=weaver_upload_6t9c2p
VITE_AWS_REGION=https://slide-weaver-assets.s3.us-west-2.amazonaws.com/${objectId}.png
VITE_CLOUDINARY_API_KEY=827351906442018

